@{
    ViewData["Title"] = "Contato";
}
<h2>@ViewData["Title"]</h2>
<h3>Suporte :</h3>

<address>
    Fortaleza<br />
    Rua A, Ce XXXXX-XXX<br />
    <abbr title="Phone">Telefone:</abbr>
    (85)XXXXX-XXXX
</address>

<address>
    <strong>Suporte:</strong> <a href="email@email.com">email@email.com</a><br />

</address>
